$colors: (
  "white": #ffffff,
  "black": #100D22,
  "purple": #AB238F,
  "red": #FF7770,
  "transparent": transparent,
  "gray-1": #878690,
  "gray-2": #F6F6F6,
);

// Default Font Size
$base-font-size: 16px;

$base-url: "http://localhost:3000/";

// Responsive Breakpoint
$br-xxs: 375px;
$br-xx: 425px;
$br-xs: 480px;
$br-mm: 512px;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1140px;
$br-xxl: 1200px;
